MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
DB_HOST=
DB_PORT=
LOKI_URL=
METERED_USERNAME=
METERED_CREDENTIAL=
SONAR_DB_PASSWORD=
JWT_SECRET=
TOTP_ENC_KEY=
MESSAGE_ENC_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
APP_URL=
CSRF_SECRET=