apiVersion: v1
kind: Secret
metadata:
  name: orca-secrets
  namespace: orca
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "CHANGEME"
  MYSQL_DATABASE: "CHANGEME"
  MYSQL_USER: "CHANGEME"
  MYSQL_PASSWORD: "CHANGEME"
  JWT_SECRET: "CHANGEME"
  TOTP_ENC_KEY: "CHANGEME"
  MESSAGE_ENC_KEY: "CHANGEME"
  CSRF_SECRET: "CHANGEME"
  SMTP_HOST: "CHANGEME"
  SMTP_PORT: "CHANGEME"
  SMTP_USER: "CHANGEME"
  SMTP_PASS: "CHANGEME"
  METERED_USERNAME: "CHANGEME"
  METERED_CREDENTIAL: "CHANGEME"